<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AuroraFeeRecipient</key>
	<string>$(AURORA_FEE_RECIPIENT)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>DyorHQ</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>zh-Hans</string>
		<string>ko</string>
	</array>
	<key>CFBundleName</key>
	<string>DyorHQ</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fun.dyorhq.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dyorhq</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>20</string>
	<key>FeeEscrow</key>
	<string>$(DYOR_DEBUG_FEE_ESCROW)</string>
	<key>HolderFeeSharing</key>
	<string>$(DYOR_DEBUG_HOLDER_FEE_SHARING)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
	</array>
	<key>LaunchRouter</key>
	<string>$(DYOR_DEBUG_LAUNCH_ROUTER)</string>
	<key>LaunchpadFactory</key>
	<string>$(DYOR_DEBUG_LAUNCHPAD_FACTORY)</string>
	<key>MemeHook</key>
	<string>$(DYOR_DEBUG_MEME_HOOK)</string>
	<key>MomentsBuyback</key>
	<string>$(DYOR_DEBUG_MOMENTS_BUYBACK)</string>
	<key>MomentsCollect</key>
	<string>$(DYOR_DEBUG_MOMENTS_COLLECT)</string>
	<key>MomentsDeployBlock</key>
	<string>$(DYOR_DEBUG_MOMENTS_DEPLOY_BLOCK)</string>
	<key>MomentsFactory</key>
	<string>$(DYOR_DEBUG_MOMENTS_FACTORY)</string>
	<key>MomentsGraduation</key>
	<string>$(DYOR_DEBUG_MOMENTS_GRADUATION)</string>
	<key>MomentsHook</key>
	<string>$(DYOR_DEBUG_MOMENTS_HOOK)</string>
	<key>MomentsLocker</key>
	<string>$(DYOR_DEBUG_MOMENTS_LOCKER)</string>
	<key>MomentsPlatform</key>
	<string>$(DYOR_DEBUG_MOMENTS_PLATFORM)</string>
	<key>MomentsTreasury</key>
	<string>$(DYOR_DEBUG_MOMENTS_TREASURY)</string>
	<key>MomentsVesting</key>
	<string>$(DYOR_DEBUG_MOMENTS_VESTING)</string>
	<key>MonadRPCURL</key>
	<string>$(DYOR_DEBUG_RPC_OVERRIDE)</string>
	<key>NSFaceIDUsageDescription</key>
	<string>DyorHQ uses Face ID to unlock your wallet on this device.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>DyorHQ uses your photos to add a token image when you launch a coin.</string>
	<key>PasskeysEnabled</key>
	<string>$(PASSKEYS_ENABLED)</string>
	<key>PerplBuilderID</key>
	<string>$(PERPL_BUILDER_ID)</string>
	<key>PrivyAppID</key>
	<string>$(PRIVY_APP_ID)</string>
	<key>PrivyClientID</key>
	<string>$(PRIVY_CLIENT_ID)</string>
	<key>SocialLoginsEnabled</key>
	<string>$(SOCIAL_LOGINS_ENABLED)</string>
	<key>UIAppFonts</key>
	<array>
		<string>GoogleSans-Medium.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
</dict>
</plist>
